<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content ng-controller="ContentCtrl">
    <div class="bar bar-header bar-energized">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <div class="h1 title">Tour</div>
      <button class="button tourPoints">{{tourPoints}}
        <i class="icon ion-star"></i>
      </button>
    </div>

    <ion-scroll>
    <ul class="card description">
      <li class="item item-icon-left">
        <i class="icon ion-map"></i>{{tours.title}}</li>
      <li class="item item-icon-left">
        <i class="icon ion-person"></i>{{tours.author}}</li>
      <li class="item item-icon-left"> 
        <i class="icon ion-clock"></i>{{tours.duration}}</li>
      <li class="item longText item-icon-left"> 
        <i class="icon ion-ios7-information-outline"></i>{{tours.description}}</li>
    </ul>

    <ul class="card spots">
      <li class="item spot" ng-repeat="spot in tours.spots" ng-class="{'notCompleted': !isCompleted, 'completed': isCompleted}" ng-init="isCompleted = false" ng-click="toggleTask(spot.points);">
        <i class="icon ion-checkmark"></i>
        <span class="spotInfo">{{spot.task}}</span>
        <span class="spotPoints">{{spot.points}}</span>
        <!-- the following three tags are directives from tours.controller.js -->
        <tag-Price></tag-Price>
        <tag-Camera></tag-Camera>
        <tag-Tree></tag-Tree>
      </li>
    </ul>

    <google-map id="testMap" center="map.center" zoom="map.zoom" draggable="true" ng-controller="ShowtourCtrl">
      <marker ng-repeat="marker in markers" coords="marker.coords" idKey="marker.idKey"></marker>
      <polyline path="paths.path" stroke="paths.stroke" geodesic='paths.geodesic'></polyline>
    </google-map>

    <!-- Form with label and searchbar input: -->
    <form >
      <button ng-click="glhf()" class="bar bar-footer button button-positive button-block">
        Go Exploring!
      </button>
    </form>

    </ion-scroll>
  </ion-side-menu-content>

  <!-- Nav menu -->
  <ion-side-menu side="left" ng-controller="MenuCtrl" width="{{menuWidth}}">
    <div class="bar bar-header bar-stable">
      <h1 class="title">Where to?</h1>
    </div>
    <ul class="list">
      <a menu-close class="item item-icon-left" ng-click="goto('/signup')">
        <i class="icon ion-person-add"></i>Sign up</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/login')">
        <i class="icon ion-log-in"></i>Log in</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/logout')">
        <i class="icon ion-log-out"></i>Log out</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/search')">
        <i class="icon ion-search"></i>Search</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/tours')">
        <i class="icon ion-arrow-expand"></i>Explore</a>
      <a menu-close class="item item-energized item-icon-left" ng-click="goto('/tours/showtour')">
        <i class="icon ion-map"></i>Tour</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/tours/createtour')">
        <i class="icon ion-plus"></i>Create</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/leaderboard')">
        <i class="icon ion-trophy"></i>Leaderboard</a>        
    </ul>
  </ion-side-menu>
</ion-side-menus>
