.bar-header{
  position: static;
}
.item, .list-inset{
  background-color: transparent;    
}
.ghostly{
  background-color: rgba(255,255,255,0.5);
}
.input-label{
  margin: 0; 
}
p{
  color: white;
  padding: 1em;
}
