<style type="text/css">
  .scroll-content{
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 10px; 
    background-image: url('../../assets/images/background.jpg');
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-weight: bold;
  }
  .bar-header{
    position: static;
  }
  .item, .list-inset{
    background-color: transparent;    
  }
  .ghostly{
    background-color: rgba(255,255,255,0.5);
  }
  .input-label{
    margin: 0; 
  }
  p{
    color: white;
    padding: 1em;
  }
</style>
<ion-view title="Splash">
  <ion-content>
    <!-- The fixed nav piece at the top: -->
    <div class="bar bar-header bar-calm">
      <h1 class="title">Cure your WanderLust</h1>
    </div>

    <p class="tag text-centered">Click the pretty button!</p>

    <p ng-show="false">Use Wanderlust to curate your city’s hidden gems for others to fall in love with or cure your wanderlust by exploring the city through a new perspective.</p>

    <!-- Form with label and searchbar input: -->
    <form > <!---->
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Where to?</span>
        </label>
        <label class="item item-input ghostly">
          <i class="icon ion-search placeholder-icon"></i>
          <input ng-model="location" type="text" placeholder="San Francisco">
        </label>
      </div>
      <button ng-submit="navToToursByLocation()" class="bar bar-footer button button-positive button-block">
        Explore!
      </button>
    </form>

<!--     <form class="form-location" ng-submit="">
      <label class="label-location">Where to?</label><br>
      <input class="input-location" ng-model="location" placeholder="San Francisco">
    </form> -->
  </ion-content>
</ion-view>
