<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content ng-controller="ContentCtrl">
    <div class="bar bar-header bar-energized">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <div class="h1 title">LEADERBOARD</div>
    </div>

    <ul class="card spots">
      <li class="item spot row leaderboard-headers">
        <span class="userPosition col col-25">Position</span>
        <span class="spotInfo col col-50">User</span>
        <span class="spotPoints col col-25">Points</span>
      </li>
      <li class="item spot row" ng-repeat="user in users | orderBy:'-points'" ng-if="$index < 5">
        <span class="userPosition col col-25">{{$index + 1}}</span>
        <span class="spotInfo col col-50">{{user.name}}</span>
        <span class="spotPoints col col-25">{{user.points}}</span>
      </li>
    </ul>

    <button ng-click="testAdd()">Test Add Button</button>
    <button ng-click="testRemove()">Test Remove Button</button>
    
  </ion-side-menu-content>

  <!-- Nav menu -->
  <ion-side-menu side="left" ng-controller="MenuCtrl" width="{{menuWidth}}">
    <div class="bar bar-header bar-stable">
      <h1 class="title">Where to?</h1>
    </div>
    <ul class="list">
      <a menu-close class="item item-icon-left" ng-click="goto('/signup')">
        <i class="icon ion-person-add"></i>Sign up</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/login')">
        <i class="icon ion-log-in"></i>Log in</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/logout')">
        <i class="icon ion-log-out"></i>Log out</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/search')">
        <i class="icon ion-search"></i>Search</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/tours')">
        <i class="icon ion-arrow-expand"></i>Explore</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/tours/showtour')">
        <i class="icon ion-map"></i>Tour</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/tours/createtour')">
        <i class="icon ion-plus"></i>Create</a>
      <a menu-close class="item item-energized item-icon-left" ng-click="goto('/leaderboard')">
        <i class="icon ion-trophy"></i>Leaderboard</a>        
    </ul>
  </ion-side-menu>
</ion-side-menus>
