<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <p class="lead">Choose Your Adventure</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="numberTours">{{toursCount.count}} tours near {{city}}</h1>
    </div>
  </div>
</div>

  <div id="carousel">
    <carousel interval="myInterval">
      <slide ng-repeat="tour in tours" active="tour.active" ng-click="selectedTour()">
        <img ng-src="assets/images/{{tour.neighborhood[0]}}.png" style="margin:auto;">
        <div class="carousel-caption">
          <div class="tourViewInfo">
            <span>{{tour.title}}</span></br>
            <span>{{tour.duration}}</span></br>
            <!-- directives that add bootstrap icons -->
            <star-Rating></star-Rating>
            <star-Rating></star-Rating>
            <star-Rating></star-Rating>
            <star-Rating></star-Rating>
            <star-Rating></star-Rating><br>
            <tag-Price></tag-Price>
            <tag-Camera></tag-Camera>
            <tag-Tree></tag-Tree>
          </div>
        </div>
      </slide>
    </carousel>
  </div>

<div class="row">
  <footer class="footer">
    <div class="container containerAdventure">
      <a class="btn btn-default" type="button" href="#/tours/createtour">Create an Adventure</a>
    </div>
  </footer>
</div>
