<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content ng-controller="ContentCtrl">
    <div class="bar bar-header bar-energized">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      <div class="h1 title">Create your own tour</div>
    </div>

    <!-- Main create tour content -->
    <ion-scroll style="height: 550px">
      <h2>Tour details</h2>
      <form>
        <div class="row">
          <div class="col-md-2">
            <label class="required">Title</label>
          </div>
          <div class="col-md-6">
            <input class="form-control" type="text" ng-model="tour.title"><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Description</label>
          </div>
          <div class="col-md-6">
            <input class="form-control" type="text" ng-model="tour.description"><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label class="required">City</label>
          </div>
          <div class="col-md-6">
            <input class="form-control" type="text" ng-model="location" placeholder="San Francisco"><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label>Duration</label>
          </div>
          <div class="col-md-6">
            <select ng-model="tour.duration">
              <option value="multiday">Many days</option>
              <option value="one-day">All day</option>
              <option value="half-day">Half day</option>
              <option value="hour">Around an hour</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">  
            <label>Neighborhood</label>
          </div>
          <div class="col-md-6">
            <select ng-model="tour.neighborhood">
              <option ng-repeat="neighborhood in neighborhoods" value="{{neighborhood}}">{{neighborhood}}</option>
            </select>
          </div>
        </div>
      </form>

    <!-- Add spots by using wdl-spot directive, with spot attribute equal to spots[spotIndex] -->
    <div ng-repeat="spot in spots">
      <div class="panel panel-default col-md-3">
        <div class="panel-heading">Spot details</div>
        <div class="panel-body">
          <label>Tags</label>
          <label class="btn btn-xs btn-primary" ng-model="spot.free" btn-checkbox>Free</label>
          <label class="btn btn-xs btn-primary" ng-model="spot.paid" btn-checkbox>Paid</label>
          <label class="btn btn-xs btn-primary" ng-model="spot.indoors" btn-checkbox>Indoors</label>
          <label class="btn btn-xs btn-primary" ng-model="spot.outdoors" btn-checkbox>Outdoors</label>
          <label class="btn btn-xs btn-primary" ng-model="spot.photo" btn-checkbox>Photograph</label>
          <label class="btn btn-xs btn-primary" ng-model="spot.adventure" btn-checkbox>Adventure</label>
          <label class="btn btn-xs btn-primary" ng-model="spot.food" btn-checkbox>Food</label>
          <label class="btn btn-xs btn-primary" ng-model="spot.drink" btn-checkbox>Drink</label><br>

          <label>Task</label><input class="form-control" type="text" ng-model="spot.task"><br>
          <label>Address</label><input class="form-control" type="text" ng-model="spot.address"><br>

          <!-- Points -->
          <label>Points</label>
          <select ng-model="spot.points">
            <option value="5">Easy - 5</option>
            <option value="10">Average - 10</option>
            <option value="20">Hard - 20</option>
          </select><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="list center-block col-md-4">
        <label class="item"> 
        <!-- addSpot() -->
          <button ng-click="addSpot()" class="button icon ion-plus button-positive small"></button>
          Add new spot to tour
        </label>
      </div>
    </div>
    <button ng-click="createTour(); console.log('button pushed')" class="bar button bar-positive">
      Publish Tour!
    </button>
  </ion-scroll>
  </ion-side-menu-content>

  <!-- Nav menu -->
  <ion-side-menu side="left" ng-controller="MenuCtrl" width="{{menuWidth}}">
    <div class="bar bar-header bar-stable">
      <h1 class="title">Where to?</h1>
    </div>
    <ul class="list">
      <a menu-close class="item item-icon-left" ng-click="goto('/signup')">
        <i class="icon ion-person-add"></i>Sign up</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/login')">
        <i class="icon ion-log-in"></i>Log in</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/logout')">
        <i class="icon ion-log-out"></i>Log out</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/search')">
        <i class="icon ion-search"></i>Search</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/tours')">
        <i class="icon ion-arrow-expand"></i>Explore</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/tours/showtour')">
        <i class="icon ion-map"></i>Tour</a>
      <a menu-close class="item item-energized item-icon-left" ng-click="goto('/tours/createtour')">
        <i class="icon ion-plus"></i>Create</a>
      <a menu-close class="item item-icon-left" ng-click="goto('/leaderboard')">
        <i class="icon ion-trophy"></i>Leaderboard</a>        
    </ul>
  </ion-side-menu>
</ion-side-menus>
